.gemini-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.card-header h2 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    letter-spacing: .03em;
    font-size: 18px;
    font-weight: 600;
    color: #A6874E;
    margin-left: 15px;
    margin-top: -20px;
}

.gemini-text {
    color: #d6dde8;
    line-height: 1.6;
    font-size: 15px;
    margin-left: 15px;
    max-width: 420px;
}