.similar-passengers{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.section-header h2{
    margin-top: 10px;
    font-size: 18px;
    color: #A6874E;
    text-align: center;
}

.section-header p{
    margin-top:6px;
    color:#94a3b8;
    font-size:0.9rem;
}

.passenger-table{
    width:100%;
    border-collapse:collapse;
    margin-top: -10px;
}

.passenger-table thead{
    background:rgba(255,255,255,0.05);
}

.passenger-table th{
    text-align:center;
    padding:9px;
    font-weight:600;
    color:#d6dde8;
    font-size:0.9rem;
}

.passenger-table td{
    padding:9px;
    border-top:1px solid rgba(255,255,255,0.05);
    color:#f1f5f9;
    font-size:0.92rem;
    text-align: center;
}

.passenger-table tbody tr{
    transition:0.2s;
}

.passenger-table tbody tr:hover{
    background:rgba(255,255,255,0.04);
}

.status{
    padding:6px 12px;
    border-radius:999px;
    font-size:0.82rem;
    font-weight:600;
}

.passenger-table td.survived {
    color: #A6874E;
}