.page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-radius: 12px;
    background: linear-gradient(to right, #2C1A70, #500aef);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.title p {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.date p {
    font-size: 18px;
    font-weight: 500;
}

.dashboard {
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 345px;
    padding-top: 90px;

    max-width: 2500px;
    margin: 40px 30px 0 30px;
    padding: 60px
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background: rgba(20, 20, 40, 0.85);
    border-radius: 16px;
    padding: 20px;
    border: 1px solid rgba(114, 80, 255, 0.3);
    min-height: 280px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    min-height: 180px;
    min-width: 0px;

    min-height: 200px;
    min-width: 400px;
}

.card-inner {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;  
}

.data-img {
    width: 120px;    
    height: auto;
    flex-shrink: 0;
    margin-left: 5px;  
}

.card-text {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-title-text {
    font-size: 18px;
    font-weight: 500;
    color: #b4b8d0;
    padding-bottom: 12px;
    padding-left: 14px;
}

.sub-title-data {
    font-size: 33px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 14px;
    padding-left: 14px;
}

.sub-title-data2 {
    font-size: 31px;
    font-weight: 600;
    color: rgb(60, 17, 160);
    padding-left: 14px;
}

.sub-title-info {
    font-size: 19px;
    font-weight: 400px;
    color: #b0b5d5;
    padding-bottom: 8px;
    padding-left: 14px;
}

.charts-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-charts {
    display: grid;
    grid-template-columns: 3fr 2fr; 
    gap: 20px;
    flex: 1
}

.wide-chart {
    grid-column: 1 / -1; 
    min-height: 320px;
}

.chart-box {
    background: rgba(20, 20, 40, 0.85);
    border-radius: 16px;
    padding: 20px;
    border: 1px solid rgba(114, 80, 255, 0.3);
    min-height: 280px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

    min-height: 280px;
    height: 100%;             
    display: flex;
    flex-direction: column;
}

.pie-chart {
    min-height: 340px;
}

.chart-title {
    font-size: 18px;
    margin-left: 17px;
    margin-bottom: 13px;
}