.send-button {
    background-color: green;
    color: white;
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    cursor: pointer;
}

.message-box {
    padding: 12px 20px;
    border-radius: 12px;
    border-color: darkgrey;
    border-width: 1px;
    font-size: 15px;
}

.chat-input-container {
    display: flex;
    max-width: 500px;
    margin-bottom: 60px;
}